<div class="item-slider">
  <ul class="bxslider item-slider-wrapper">
    <li>
      <img src="http://placehold.it/844x300"/>
    </li>
    <li>
      <img src="http://placehold.it/844x299"/>
    </li>
  </ul>
  <div class="slider-pager">
    <a data-slide-index="0" href=""><img src="http://placehold.it/70x70" height="70"/></a>
    <a data-slide-index="1" href=""><img src="http://placehold.it/70x70" height="70"/></a>
  </div>
</div>
