/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.bxslider
 *= require_tree .
 */
$icon-font-path: "/assets/twitter/";

$main-color1: #00B7EF;
$brand-primary: #6CC1ED;

$link-color: $brand-primary !default;
$link-hover-color: darken($link-color, 15%) !default;


//Navbar
$navbar-default-color: #FAFAFA;
$navbar-default-bg: $main-color1; //D4786D
$navbar-default-border: #B5B5B5 !default;
$navbar-border-radius: 0;

$navbar-default-link-color: #FAFAFA !default;
$navbar-default-link-hover-color: #026969 !default;
$navbar-default-link-hover-bg: transparent !default;
$navbar-default-link-active-color: #E8E8E8 !default;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color: #ccc !default;
$navbar-default-link-disabled-bg: transparent !default;

// Navbar brand label
$navbar-default-brand-color: $navbar-default-link-color !default;
$navbar-default-brand-hover-color: darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg: transparent !default;

@import 'font-awesome';
@import "twitter/bootstrap";

.navbar {
  border: 0px solid transparent;
}


.row > div {
  border: 1px solid #DEDEDE
}


//User Page
.user-sidebar{

}

.user-sidebar .avatar {
  margin-top: 20px
}
.user-sidebar .action-buttons {
  width: 100%;
}