<nav class="navbar navbar-default" role="navigation">
  <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_url %>"><i class="icon-coffee"></i>Latted!</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
              <li><p class="navbar-text">Welcome, <%= current_user.email %></p></li>
          <% end %>
          <li><%= current_user ? link_to("Logout", destroy_user_session_path, :method => :delete) : link_to("Login", new_user_session_path) %></li>
          <li><%= current_user ? "" : link_to("Register", new_user_registration_path) %></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
</nav>